<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> <!-- menu="m1" -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Offers</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/places/tabs/offers/new">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeSm="8" offsetSm="2">
        <ion-list>
          <ion-item *ngFor="let offer of offers" [routerLink]="['/','places','tabs','offers',offer.id]"
            routerLinkActive="router-link-active">
            <ion-thumbnail slot="start">
              <img [src]="offer.imageUrl">
            </ion-thumbnail>
            <ion-label>
              <h1>{{ offer.title}} </h1>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>