<ion-header>
  <ion-toolbar>
    <ion-title>Authenticate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3">
        <ion-button color="primary" fill="clear" expand="block" (click)="onClick()">
          Switch to Login
        </ion-button>
        <ion-button color="primary" (click)="onLogin()" expand="block" *ngIf="!isLoading">
          Login
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <div text-center>
    <ion-spinner name="bubbles" color="primary" *ngIf="isLoading"></ion-spinner>
  </div> -->
</ion-content>